## checklist

### 진행예정
 1) 추가필요 열: 플랫폼명, 날짜 \
 2) 타 플랫폼과 합쳤을 때 형식 통일하도록 data type과 Nan 처리방법 등 정의 \
 3) 실행소요시간 마지막에 매직커맨드로 체크 \
 4) import는 설치 및 실행하는 거 settings.py 등으로 세팅하기 \
 5) MySQL로 나눠서 관리할 거면, 이름, 주소, 리뷰수 등은 순환주기 하루 어떤가? \
    리뷰수가 request를 한 번 더 보내야 해서 시간을 잡아먹는다 \
    그러면 어차피 스파이더를 두 개로 쪼개야하기는 하겠다
 6) 쌓다가 원하는 호텔 원하는 가격 등 조건 방 나오면 알림 전달 서비스 추가도 좋을듯!


### 완료
 1) page바꿔가면서 했을 때 상품들 연속성 CHK (limit=50에 따른 상품 누락 여부 확인) -> 이상없음. \
 2) page=1, 2 이상 구분할 때 [4], [1]이 아니라 '전체'를 가져오게 해야겠다. 시간 저녁되니까 숫자로 안된다. -> 해결 \
 3) 리뷰수 추가 완료

### 추후 체크 디버깅 예상
 1) 예약만실 시 그대로 반영 or 삭제

# 함수화

In [1]:
# 사전 import & settings
import scrapy, requests
from scrapy.http import TextResponse
import datetime
import re


KST = datetime.timezone(datetime.timedelta(hours=9))
today = datetime.datetime.now(tz=KST)
start_date= today.strftime("%Y-%m-%d") # 시작일 디폴트 = 오늘
end_date = (today + datetime.timedelta(days=1)).strftime("%Y-%m-%d") # 종료일 디폴트 = 내일
staydays = (datetime.datetime.strptime(end_date,'%Y-%m-%d').date() - \
            datetime.datetime.strptime(start_date,'%Y-%m-%d').date()).days # 숙박일수 디폴트 = 1박start_date, end_date
gu_code = ['2012', '2019', '2016', '2014', '2015', '2020', '2018', '2017', '2021']


def goodchoice(start_date= start_date, end_date = end_date, persons=2):
    
    
    # 칼럼이 될 빈 리스트 생성
    names, levels, scores, locations, roomtypes, prices, reviews, urls = [], [], [], [], [], [], [], []
    
    
    # 구별 url 생성
    for gu in gu_code:
        url = f'https://www.goodchoice.kr/product/search/2/{gu}?sort=HIT\
&sel_date={start_date}&sel_date2={end_date}&persons={persons}'
        req = requests.get(url)
        response = TextResponse(req.url, body=req.text, encoding='utf-8')
        links = response.xpath('//*[@id="poduct_list_area"]/li/a/@href').extract()

        
    # 각 구 당 호텔정보 크롤링 
        for link in links:
            req = requests.get(link)
            response = TextResponse(req.url, body=req.text, encoding='utf-8')
            name = response.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/h2/text()')[0].extract()
            level = response.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/span/text()')[0].extract()
            try:
                score = response.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/div[1]/span/text()')[0].extract()
            except:
                score = ['점수없음']
            location = response.xpath('//*[@id="content"]/div[1]/div[2]/div[1]/p[2]/text()')[0].extract()
            try:
                roomtype = response.xpath('//*[@id="product_filter_form"]/article/div/strong/text()')[1:].extract()
            except:
                roomtype = ['예약만실']
            price = []
            for num in range(2, 2+len(roomtype)):
                try:
                    price.append(response.xpath(f'//*[@id="product_filter_form"]/article/div[{num}]/div[3]/div/div/div/p[2]/b/text()')[0].extract())
                except:
                    price.append('다른날짜확인')

    # 리뷰수 크롤링 (link에 직접 담겨있지 않으며 link url의 hotel_id로 request url 재구성 필요)
            hotel_id = re.findall("ano\=([0-9]+)\&", link)[0]
            review_url = 'https://www.goodchoice.kr/product/get_review_non'
            params = {"page": 0, "ano": hotel_id}
            response = requests.post(review_url, params)
            review = re.findall('"count":([0-9]+)', response.text)[0]


    # 열들 간 행개수 일치시키기 (print부분은 최종에서는 지우기)
            name = [name] * len(roomtype)
            level = [level] * len(roomtype)
            score = [score] * len(roomtype)
            location = [location] * len(roomtype)
            review = [review] * len(roomtype)
            landing_url = [link] * len(roomtype)
            if len(roomtype) == len(price):
                print(name[0])
            else:
                raise Exception('개수오류')
           
        
    # 데이터 추가
            names.extend(name)
            levels.extend(level)
            scores.extend(score)
            locations.extend(location)
            roomtypes.extend(roomtype)
            prices.extend(price)  
            reviews.extend(review)
            urls.extend(landing_url)
            

    # 데이터프레임화
    df = pd.DataFrame({
    'Name': names, 'Level': levels, 'Score':scores, 'Review': reviews, 'Location': locations,
    'RoomType': roomtypes, 'Price': prices, 'Link': urls
    })
    return df

In [2]:
test = goodchoice()
print(test.shape)
test.tail(10)

호텔 데님
호텔 인 나인 강남
호텔 리베라
더 디자이너스 리즈 강남 프리미어
노보텔 앰배서더 서울 강남
더 리센츠 프리미엄 강남가로수길 호텔
이비스 스타일 앰배서더 강남
머큐어 앰배서더 강남 쏘도베
호텔 유리앤
임피리얼 팰리스 서울
호텔 안테룸 서울
인터컨티넨탈 서울 코엑스
그랜드 인터컨티넨탈 서울 파르나스
파크 하얏트 서울
안다즈 서울 강남
글래드 강남 코엑스센터
오크우드 프리미어 코엑스센터
도미인 서울강남
포포인츠 바이 쉐라톤 서울 강남
라마다 서울 호텔
알로프트 서울 강남
호텔 크레센도 서울
보리 호텔
호텔 포레힐
호텔 엔트라 강남
호텔 선샤인 서울
호텔 페이토 삼성
호텔 프리마
파티오세븐 호텔
에이든 바이베스트웨스턴 청담
호텔 더 디자이너스 삼성
호텔 카푸치노
베스트웨스턴 프리미어 강남 호텔
호텔 소울하다
호텔스타 강남
라까사호텔 서울
강남 스테이호텔
신라스테이 역삼
인더시티 비즈니스
신라스테이 삼성
삼정호텔
L7 강남 바이 롯데
강남 패밀리 호텔
호텔 컬리넌 대치
호텔 그라모스
호텔 아노블리
라비타호텔
역삼 트리아호텔
베니키아 강남 노블레스
호텔 세느
삼성 XYM 코엑스
호텔 카파스
호텔 컬리넌 개포
리치웰 호텔
역삼 프리미어호텔 XYM
호텔스타 선릉
녹스 부띠끄 호텔
JW 메리어트 호텔 서울
어반 플레이스 강남
더케이 호텔 서울
신라스테이 서초
오라카이 청계산 호텔
호텔 아르누보서초
오클라우드 호텔
호텔 페이토 강남
소설 호텔
강남 아르누보씨티
서초 IMT호텔
서초 E호텔
호텔티롤
서초 라리아호텔
라바호텔
나인스 호텔
서초 아트호텔
서초 두꺼비호텔
호텔 파크하비오
로사나 부띠끄
파로스 호텔
롯데호텔 월드
잠실 2.4 호텔
인피니 호텔
잠실 딜라이트 호텔
신천(잠실새내) 호텔 더 캐슬
잠실(방이) 호텔 더 캐슬
가락 호텔
비스타 워커힐 서울
호텔 더 디자이너스 프리미어 건대
호텔 더 디자이너스 건대
호텔 컬리넌 건대 1호점
건대 구구호텔
광진 피넛호텔
호텔포코
아모렉스 호텔
호텔 컬리넌 왕십리
천호 바고호텔
천호 호텔 더 블루
노보텔 앰배서더 동대문호텔&레지던스
호텔 그레이스리 서울
티마크 그랜드 호텔
레스케이프
세종호텔
밀레니엄 힐튼 서울
라마다 바이 윈덤 서울 동대문
이비스 스타일 앰배서더 명동
트레블로지 명동 을지로 호텔
알로프트 서울 명동
코트야드 메리어트 서울 남대문
[특가] 호텔 피제이 명동
프레이저 플레이스 센트럴 서울
이비스 앰배서더 서울 명동
나인트리 프리미어 호텔 명동2
호텔 스카이파크 킹스타운 동대문점
나인트리 호텔 동대문
라마다 호텔앤스위트 서울 남대문
솔라리아 니시테츠 호텔 명동
을지로 코업 레지던스
바비엥 스위트 2
ENA 스위트호텔 남대문
나인트리 호텔 명동
롯데호텔 서울 이그제큐티브타워
코리아나 호텔
호텔 미드시티 명동
마누
호텔 스카이파크 명동 3호점
현대레지던스
롯데호텔 서울
호텔 토마스 명동
퍼시픽 호텔
더 플라자
라인 호텔 명동
스타즈호텔 명동 1호점
호텔 더 디자이너스 DDP
호텔 더 디자이너스 동대문
메이원호텔
저스트 스테이 호텔
호텔 크레토 명동
더 스테이
뉴국제호텔
퍼스트스테이호텔 이글
서울 렉스호텔
호텔 프린스
남산 힐 호텔
뉴서울 호텔
케이팝호텔 서울역
명동 이코노미 호텔 프리미어
메트로 호텔
호텔 아이린시티
명동 뉴 스테이 인
케이게스트하우스 동대문 프리미엄점2
명동 멀린호텔
롯데시티호텔 명동
웨스턴 코업 호텔&레지던스
L7 명동 바이 롯데
피넛호텔
Small House Big Door
명동 MUST STAY HOTEL
스테이락 호텔
영빈호텔
목시 바이 메리어트 서울 인사동
포시즌스 호텔
나인트리 프리미어 호텔 인사동
오라카이 대학로 호텔
서머셋팰리스 서울
오라카이 인사동 스위츠
메이플레이스
호텔 더 디자이너스 종로
[반짝특가] 호텔 아벤트리 종로
서울앤호텔 동대문점
메이커스 호텔
인사동 썬비호텔
호텔 DM
호텔 쿠레타케소 인사동 서울
보눔 1957&호텔
나포레 호텔
오마이인 동대문
동대문 바티카 호텔
센트럴 관광 호텔
호텔 다다
제이미니 호텔
신라스테이 광화문
몽 호텔
종로 엠앤럭키호텔
종로 누누호텔
호텔스타 종로
호텔 부티크나인
호텔 더 디자이너스 청량리
블레싱인서울 레지던스
체이슨 엠 호텔
동대문 그림호텔
아리랑힐 호텔 동대문
호텔 디 아티스트 성신여대점
호텔 4월2일
도봉 호텔베이204
노원 노블레스호텔
노원 리츠호텔
노보텔 스위트 앰배서더 서울 용산
노보텔 앰배서더 서울 용산
그랜드 머큐어 앰배서더 호텔앤레지던스
이비스 스타일 앰배서더 서울 용산
임피리얼 팰리스 부티크 호텔
그랜드 하얏트 서울
몬드리안 서울 이태원
크라운 호텔 이태원
해밀톤 호텔
호텔 엘르인
스테이 인
ITW 호텔
서울가든호텔
홍대 나인브릭호텔
스위스 그랜드 호텔
머큐어 앰배서더 서울 홍대
홀리데이 인 익스프레스 서울 홍대
스탠포드 호텔 서울
글래드 마포
라이즈 오토그래프 컬렉션 바이메리어트
메리골드 호텔
아만티 호텔 서울 홍대
신라스테이 마포
호텔 더 디자이너스 홍대
호텔 디오레
L7 홍대 바이 롯데
보보호텔
합정 써클호텔
롯데시티호텔 마포
K호텔
신촌 라뉘호텔
신라스테이 서대문
신촌 Ever8 서비스 레지던스
신촌 라싸
더 그레이 호텔
스타일리시 호텔 디토
불광 포레스타 호텔
호텔 디 아티스트 연신내점
호텔 루 136
은평 씨에스 에비뉴 호텔
켄싱턴호텔 여의도
콘래드 서울
더 스테이트 선유 호텔
더 파크호텔 서울
페어필드 바이 메리어트 서울
호텔 로프트
JK 블라썸 호텔
글래드 여의도
코트야드 메리어트 서울 타임스퀘어
여의도 엠 호텔
영등포 호텔 GMS
호텔 더 디자이너스 여의도
여의도 코보스 호텔
메리어트 여의도 MEA
서울 갤럭시호텔
호텔 벤허
이후 브릿지 호텔
머스트스테이 호텔 선유도역점
영등포 라이프스타일 F호텔
영등포 VIP호텔
부띠크호텔 SB 여의도
토요코인 서울 영등포
라마다 앙코르 서울 마곡
인터시티서울
SR호텔 서울 마곡
로얄스퀘어호텔 서울
루체브릿지호텔
스탠다드 호텔
호텔 엠펠리체
베니키아 서울 호텔
메이필드호텔 서울
발산 골든호텔
롯데시티호텔 김포공항
노보텔 앰배서더 독산
골드리버 호텔
스타즈호텔 독산
포포인츠 바이 쉐라톤 서울 구로
라마다 서울 신도림
코업시티호텔 (오류스테이션)
코코모 호텔
JS호텔
롯데시티호텔 구로
호텔해담채가산
마인드호텔
카라쉬 호텔 서울
핸드픽트 호텔
신라스테이 구로
WD호텔
뜨랑블루 호텔
신림 어반호텔
신트라 호텔
(2073, 8)

,Name,Level,Score,Review,Location,RoomType,Price,Link
2063,뜨랑블루 호텔,2성급,9.1,231,서울 관악구 신림동 1433-123,프리미어 스위트,"150,000원",https://www.goodchoice.kr/product/detail?ano=1...
2064,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,디럭스,"75,000원",https://www.goodchoice.kr/product/detail?ano=1...
2065,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,로얄 디럭스,"85,000원",https://www.goodchoice.kr/product/detail?ano=1...
2066,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,스위트,"130,000원",https://www.goodchoice.kr/product/detail?ano=1...
2067,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,VIP,"160,000원",https://www.goodchoice.kr/product/detail?ano=1...
2068,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,스탠다드,"85,000원",https://www.goodchoice.kr/product/detail?ano=1...
2069,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,디럭스,"90,000원",https://www.goodchoice.kr/product/detail?ano=1...
2070,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,비즈니스 더블룸,"95,000원",https://www.goodchoice.kr/product/detail?ano=1...
2071,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,비즈니스 트윈룸,"100,000원",https://www.goodchoice.kr/product/detail?ano=1...
2072,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,스위트,"130,000원",https://www.goodchoice.kr/product/detail?ano=1...

In [4]:
print(test.shape)
test.tail(10)

(2013, 8)

,Name,Level,Score,Review,Location,RoomType,Price,Link
2003,뜨랑블루 호텔,2성급,9.1,231,서울 관악구 신림동 1433-123,스위트,"150,000원",https://www.goodchoice.kr/product/detail?ano=1...
2004,뜨랑블루 호텔,2성급,9.1,231,서울 관악구 신림동 1433-123,프리미어 스위트,"150,000원",https://www.goodchoice.kr/product/detail?ano=1...
2005,뜨랑블루 호텔,2성급,9.1,231,서울 관악구 신림동 1433-123,로얄 스위트 (수영장 제외 / 조식 2인 포함),"170,000원",https://www.goodchoice.kr/product/detail?ano=1...
2006,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,디럭스,"70,000원",https://www.goodchoice.kr/product/detail?ano=1...
2007,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,로얄 디럭스,"80,000원",https://www.goodchoice.kr/product/detail?ano=1...
2008,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,스위트,"120,000원",https://www.goodchoice.kr/product/detail?ano=1...
2009,신림 어반호텔,1성급,9.1,18,서울 관악구 신림동 1569-5,VIP,"140,000원",https://www.goodchoice.kr/product/detail?ano=1...
2010,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,스탠다드,"75,000원",https://www.goodchoice.kr/product/detail?ano=1...
2011,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,디럭스,"80,000원",https://www.goodchoice.kr/product/detail?ano=1...
2012,신트라 호텔,1성급,9.0,129,서울 관악구 신림동 1421-47,비즈니스 더블룸,"85,000원",https://www.goodchoice.kr/product/detail?ano=1...

In [ ]:
# items.py

In [ ]:
# spider.py